body{
    background-color: #d9f5ec;
}
.outer{
    background-color: #dddbbb;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 7rem;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 5px 10px 10px #454b48;
}
img{
    max-width: 750px ;
    border-radius: 10px;
    margin: auto;
}
form{
    margin-top: 2rem;
}
.inner{
    margin-top: 2rem;
    display: inherit;
    justify-content: center;
}
.inpt{
    border-radius: 10px;
    outline:none;
    background-color: #d9f5ec;
}
.add-btn{
    color: #070606;
    cursor: pointer;
    font-weight:bolder;
    outline: none;
    border-radius: 0px 10px 10px 0px;
    width: 90px;
    background-color: #8cbeec;
}
.add-btn:hover{
    background-color: #a5d3fe;
}
.inner li{
    list-style: none;
    padding: 5px;
    border: 2px solid #d9f5ec;
    border-radius: 15px;
    margin-top: 10px;
    background-color: #d9f5ec;
    text-align: center;
    display: flex;
    justify-content: space-around;
}

.inner li span{
    width: 85%;
}
.inner li a {
  align-self: center;
}

.del{
  color: #9d0808;
}

.del:hover{
    color: #ff0000;
}
