body{
    background-color: #d9f5ec;
}
.outer{
    background-color: #dddbbb;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 7rem;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 5px 10px 10px #454b48;
}
form{
    margin-top: 2rem;
}
.inner{
    margin-top: 2rem;
    display: inherit;
    justify-content: center;
}
.inpt{
    border-radius: 15px;
    outline:none;
    background-color: #d9f5ec;
}
.add-btn{
    color: #070606;
    cursor: pointer;
    font-weight:bolder;
    outline: none;
    border-radius: 15px;
    background-color: #0073df;
}
.add-btn:hover{
    background-color: #1f2eca;
}
.inner li{
    list-style: none;
    padding: 5px;
    border: 2px solid #d9f5ec;
    border-radius: 15px;
    margin-top: 10px;
    background-color: #d9f5ec;
    text-align: center;
    display: flex;
    justify-content: space-around;
}

